@{
    ViewData["Title"] = "Acerca de nosotros";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData[""]</h3>

<p>Somos profesionales con varios años de experiencia en el ámbito de las realización de eventos.</p>
