@model Cotizaciones.Models.Cotizacion

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿desea eliminar esto?</h3>
<div>
    <h4>Cotizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
